body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  font-family: sans-serif; }

@keyframes swt-handle {
  0% {
    transform: translateY(-50%) scale(1); }
  50% {
    transform: translateY(-50%) scale(0.9); }
  100% {
    transform: translateY(-50%) scale(1); } }
.swt {
  display: block;
  z-index: 0;
  box-sizing: border-box;
  position: relative;
  font-size: 0;
  white-space: nowrap; }
  .swt:nth-of-type(n+2) {
    margin-top: 40px; }
  .swt * {
    box-sizing: border-box; }
  .swt input[type="checkbox"] {
    position: absolute;
    left: -9999px; }
  .swt .toggle-on, .swt .toggle-off, .swt .toggle-handle {
    cursor: pointer;
    position: absolute; }
  .swt .toggle-on, .swt .toggle-off {
    display: inline-block;
    overflow: hidden; }
    .swt .toggle-on .content, .swt .toggle-off .content {
      z-index: -1;
      font-size: 20px;
      position: absolute;
      display: inline-block; }
  .swt .toggle-on .content {
    text-align: left;
    background-color: #0cac8e; }
  .swt .toggle-off .content {
    text-align: right;
    background-color: #d01641; }
  .swt .toggle-handle {
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    background-color: #000; }
  .swt.swt-steeve {
    width: 210px;
    height: 97.5px; }
    .swt.swt-steeve .toggle-on,
    .swt.swt-steeve .toggle-off {
      width: 180px;
      height: 82.5px;
      top: 7.5px;
      left: 15px; }
      .swt.swt-steeve .toggle-on .content,
      .swt.swt-steeve .toggle-off .content {
        line-height: 82.5px;
        height: 82.5px;
        width: 166.25px; }
    .swt.swt-steeve .toggle-on .content {
      padding: 0 30px 0 50px;
      left: calc(47.5px - 100%); }
    .swt.swt-steeve .toggle-off .content {
      padding: 0 50px 0 30px;
      left: 33.75px; }
    .swt.swt-steeve .toggle-handle {
      width: 97.5px;
      height: 97.5px;
      left: 0; }
    .swt.swt-steeve:active .toggle-handle {
      animation: 50ms swt-handle; }
    .swt.swt-steeve input[type="checkbox"]:checked ~ .toggle-on .content {
      margin-left: 112.5px; }
    .swt.swt-steeve input[type="checkbox"]:checked ~ .toggle-off .content {
      margin-left: 112.5px; }
    .swt.swt-steeve input[type="checkbox"]:checked ~ .toggle-handle {
      margin-left: 112.5px; }
  .swt.swt-perso {
    width: 135px;
    height: 60px; }
    .swt.swt-perso .toggle-on,
    .swt.swt-perso .toggle-off {
      width: 135px;
      height: 60px;
      top: 0;
      left: 0px; }
      .swt.swt-perso .toggle-on .content,
      .swt.swt-perso .toggle-off .content {
        line-height: 60px;
        height: 60px;
        width: 125px; }
    .swt.swt-perso .toggle-on .content {
      padding: 0 15px 0 35px;
      left: calc(40px - 100%); }
    .swt.swt-perso .toggle-off .content {
      padding: 0 35px 0 15px;
      left: 30px; }
    .swt.swt-perso .toggle-handle {
      width: 52.5px;
      height: 52.5px;
      left: 3.75px; }
    .swt.swt-perso:active .toggle-handle {
      animation: 50ms swt-handle; }
    .swt.swt-perso input[type="checkbox"]:checked ~ .toggle-on .content {
      margin-left: 75px; }
    .swt.swt-perso input[type="checkbox"]:checked ~ .toggle-off .content {
      margin-left: 75px; }
    .swt.swt-perso input[type="checkbox"]:checked ~ .toggle-handle {
      margin-left: 75px; }
  .swt.swt-simple {
    width: 135px;
    height: 67.5px; }
    .swt.swt-simple .toggle-on,
    .swt.swt-simple .toggle-off {
      width: 105px;
      height: 60px;
      top: 3.75px;
      left: 15px; }
      .swt.swt-simple .toggle-on .content,
      .swt.swt-simple .toggle-off .content {
        line-height: 60px;
        height: 60px;
        width: 125px; }
    .swt.swt-simple .toggle-on .content {
      padding: 0 15px 0 35px;
      left: calc(-20px - 100%); }
    .swt.swt-simple .toggle-off .content {
      padding: 0 35px 0 15px;
      left: 0px; }
    .swt.swt-simple .toggle-handle {
      width: 30px;
      height: 67.5px;
      left: 0; }
    .swt.swt-simple input[type="checkbox"]:checked ~ .toggle-on .content {
      margin-left: 105px; }
    .swt.swt-simple input[type="checkbox"]:checked ~ .toggle-off .content {
      margin-left: 105px; }
    .swt.swt-simple input[type="checkbox"]:checked ~ .toggle-handle {
      margin-left: 105px; }

.swt.swt-steeve .toggle-on, .swt.swt-steeve .toggle-off {
  box-shadow: inset 0 3px 10px rgba(0, 0, 0, 0.1);
  border-radius: 55px; }
  .swt.swt-steeve .toggle-on .content, .swt.swt-steeve .toggle-off .content {
    color: #fff;
    font-size: 30px;
    transition: 500ms cubic-bezier(0.68, -0.55, 0.27, 1.55); }
.swt.swt-steeve .toggle-on .content {
  background-color: #d4145a; }
.swt.swt-steeve .toggle-off .content {
  background-color: #ff8db9; }
.swt.swt-steeve .toggle-handle {
  background-color: #932147;
  border-radius: 100%;
  transition: 500ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3); }

.swt.swt-perso {
  color: #fff; }
  .swt.swt-perso .toggle-on .content, .swt.swt-perso .toggle-off .content, .swt.swt-perso .toggle-handle {
    transition: 400ms cubic-bezier(0.68, -0.55, 0.27, 1.55); }
  .swt.swt-perso .toggle-on, .swt.swt-perso .toggle-off {
    border-radius: 100px; }
  .swt.swt-perso .toggle-on {
    border: 15px solid red;
    box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.1); }
    .swt.swt-perso .toggle-on .content {
      background-color: #14b5ff; }
  .swt.swt-perso .toggle-off .content {
    background-color: #b3b3b3; }
  .swt.swt-perso .toggle-handle {
    background-color: white;
    box-shadow: 3px 5px 13px rgba(0, 0, 0, 0.5);
    border-radius: 100px;
    border: 1px solid #333; }

.swt.swt-simple {
  color: #fff; }
  .swt.swt-simple .toggle-on .content, .swt.swt-simple .toggle-off .content, .swt.swt-simple .toggle-handle {
    transition: 400ms cubic-bezier(0.68, -0.55, 0.27, 1.55); }
  .swt.swt-simple .toggle-on, .swt.swt-simple .toggle-off {
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); }
  .swt.swt-simple .toggle-handle {
    background-color: #333; }

/*# sourceMappingURL=style.css.map */
